@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&subset=cyrillic,cyrillic-ext');

/* Table of Contents ----------------------*/
/* Section: 1. Global Styles */
/* Section: 2. Individual Styling */
/* Section: 3. In-approval */

/* Global Styles ---------------------- */
html {
	color: #444;
	font-size: 1em;
    font-family: 'Open Sans', sans-serif;
	word-wrap: break-word;
	padding: 15px;
	background-color:#fff;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	margin:0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	margin-bottom: .5em;
}
body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	border: 2px solid #00000020;
	border-top: none;
	border-bottom: none;
	display: block;
	box-shadow: 0 0 30px #00000020;
	min-height: 100%;
}
a {
	color: #1BAEF1;
	text-decoration: none;
}
hr {
	border-color: #00000020;
	border-width: 2px;
	border-bottom: 0;
}
header.col-row {
	align-items: center;
	padding: 2.5em 2em;
}
.col-row {
	display: flex;
}
.col-row:after {
	content: '';
	clear: both;
}
.col-25 {
	width: 25%;
}
.col-50 {
	width: 50%;
}
.col-75 {
	width: 75%;
}
.col-100 {
	width: 100%;
}
.col-25, .col-50, .col-75, .col-100 {
	float: left;
}
.project h3, .project p{
	margin: .2em;
}
.project h3 {
	margin-top: .8em;
}
/** In Approval Process -------------------**/

.project-badges {
	display: inline-block;
	font-size: 0.65em;
	margin: 0;
	background: #fff;
	border-radius: 8px;
}
.project-badges span {
	display: inline-block;
	color: #efefef;
	border-radius: 5px;
	padding: 2px 6px;
}
span.project-type {
	color: #ffffff;
	background-color: #5d5d5d;
}
/* Individual Styling -------------------*/
header, section, footer {
	padding: 1em 2em;
}
.content.porfolio h1{
	font-size: 3em;
	margin-bottom: .2em;
}
.col-50.introduction p{
	margin-top: 0;
	font-size: 1em;
}
.social-media a {
	font-size: 1.5em;
}
.projects__timeline.col-75 {
    border-left: 2px solid #dfdfdf;
    padding-left: 15px;
    border-radius: 2px;
}
.skill {
	position: relative;
	margin-bottom: 5px;
}
.skill__rating-scale {
	height: 2em;
	width: 100%;
	display: block;
	background: #dfdfdf;
	border-radius: 2em 0 0 2em;
	overflow: hidden;
}
.skill__label {
	position: absolute;
	padding: 4px 15px;
	color: #fff;
}
.skill__rating {
	background: #1baef1;
	height: 1.75em;
	display: block;
	margin: 2px;
	border-radius: 2em;
}
/** In Approval Process -------------------**/
span.project-status {
	color: #444;
	background-color: #ffffbb;
}
.interest-status.status__active {
	color: #fff;
	background-color: green;
}
