/* Table of Contents ----------------------*/
// Section: 1 
// Section: 2
// Section: 3
// Section: 4

/* Global Settings ---------------------- */
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html {
	color: #444;
	font: 1em Arial, Helvetica, sans-serif;
	word-wrap:break-word;
	padding:15px;
	background-color:#fff;
	padding: 0;
	height: 100%;
}
body {
	margin: 0 auto;
	width: 1200px;
	border: 2px solid #00000020;
	border-top: none;
	border-bottom: none;
	display: block;
	box-shadow: 0 0 30px #00000020;
	min-height: 100%;
}
a {
	color: #1BAEF1;
	text-decoration: none;
}
hr {
	border-color: #00000020;
	border-width: 2px;
	border-bottom: 0;
}
.col-row {
	display: flex;
}
.col-row:after {
	content: '';
	clear: both;
}
.col-50 {
	width: 50%;
	float: left;
}
.project h3, .project p{
	margin: .2em;
}
.project h3 {
	margin-top: .8em;
}
/** In Approval Process -------------------**/

.project-badges {
	display: inline-block;
	font-size: 0.65em;
	margin: 0;
	background: #fff;
	border-radius: 8px;
}
.project-badges span {
	display: inline-block;
	color: #efefef;
	border-radius: 5px;
	padding: 2px 6px;
}
span.project-type {
	color: #ffffff;
	background-color: #5d5d5d;
}
/* Individual Styling -------------------*/
.content.porfolio {
	padding: 1em 2em;
}
.content.porfolio h1{
	font-size: 3em;
	margin-bottom: .2em;
}
.col-50.introduction p{
	margin-top: 0;
	font-size: 1.5em;
}
/** In Approval Process -------------------**/
span.project-status {
	color: #444;
	background-color: #ffffbb;
}
